.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 62px;
    margin: 70px 0px;

    &_image {
        img {
            border-radius: 20px;
        }
    }

    &_information {
        max-width: 28%;

        &_description {

            &_break_word {
                white-space: pre-line;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }

        h2 {
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .about {
        gap: 50px;

        &_information {
            max-width: 40%;
        }
    }
}

@media screen and (max-width: 925px) {
    .about {
        display: flex;
        flex-direction: column;

        text-align: center;

        &_image {
            order: 2;
            margin: 0px 20px;

            img {
                width: 100%;
            }
        }

        &_information {
            order: 1;
            max-width: 80%;
        }
    }
}