.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    margin: 70px 0px;

    &_image {
        img {
            border-radius: 20px;
        }
    }

    &_information {
        &_title {
            p {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }

        &_nav {
            ul {
                padding-left: 0px;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .pin {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    color: black;
                }
            }

        }
    }
}